* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.container {
    display: block;
    margin: 0 auto;
    width: 75%;
}

@import './fonts/fonts';
@import './mexin/mexins';
